@import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap";
:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.7em;
  font-weight: 400;
  color: rgb(54, 54, 54);
  font-size: 18px;
}
h1 {
  margin: 0rem;
  margin-bottom: 1rem;
  font-family: Georgia;
}
h2 {
  margin: 0rem;
  margin-bottom: 0.5rem;
  font-family: Georgia;
}
.smallGraphBox > h2 {
  margin: 0;
}

button {
  /* change button styles later */
  width: fit-content;
  height: fit-content;
  align-self: center;
  justify-self: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  color: rgb(54, 54, 54);
  font-size: 15px;
  border: 2px solid rgb(54, 54, 54);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
}

button:hover {
  background-color: rgb(54, 54, 54);
  border: 2px solid rgb(54, 54, 54);
  color: white;
}

.box {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  object-fit: contain;
}
img {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  animation: fadein 0.5s;
  object-fit: contain;

  /*border: 2px solid #080808;*/
}
.hidden {
  display: none;
}
.followUp {
  animation: fadein 0.5s;
}
#followUp3 {
  animation: fadein 0.5s;
}
.hideBox {
  /*opacity: 0;*/ /* still want to show outline of box */
  background-color: #000000; /* might work with png*/
  opacity: 30%;
}
.hideBox > .selected {
  border: 4px solid #036299;
}

.posBox {
  background-color: rgb(255, 210, 170);
  opacity: 100%;
}

.swapBox {
  background-color: #a4ff7a;
}

.selected {
  border: 4px solid rgb(128, 190, 226);
}
.sorted {
  background-color: aquamarine;
}

.titlePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
}
.titlePage.hidden {
  display: none;
}
main {
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}
.widthContainer {
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding-left: 8rem;
  padding-right: 8rem;
}
.statsContainer.hidden {
  display: none;
}
.tracker {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#page3.hidden {
  display: none;
}

.sortingDiv {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-bottom: 1rem;
}
.splitDiv {
  display: flex;
  gap: 2rem;
}
.sortSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.algorithm {
  min-width: 20rem;
  padding-right: 1rem;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: flex-end;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(128, 190, 226);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(128, 190, 226);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.variable {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.varBox {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(128, 190, 226);
  animation: fadein 0.5s;
  object-fit: contain;
}
.currentShell {
  background-color: rgb(255, 210, 170);
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.nextShell {
  border-radius: 0.25rem;
  border: 2px solid rgb(128, 190, 226);
  background-color: white;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.highlight {
  animation: flash 1.2s;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  gap: 2rem;
}

.statsBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0.75rem;
  height: min-content;
}

button#selection,
button#bubble {
  width: 16rem;
  height: fit-content;
  padding: 1rem;
}
.correctBox {
  border-radius: 0.5rem;
  border: 4px solid rgb(128, 190, 226);
}
.graphBox {
  display: flex;
  justify-content: center;
}
.graphBox > img {
  width: 34rem;
  height: 28rem;
}
.graphContainer {
  display: flex;
  justify-content: center;
}
.smallGraphBox > img {
  width: 20rem;
  height: 14rem;
  gap: 2rem;
}

@keyframes flash {
  0% {
    background-color: white;
    border-radius: 0.25rem;
  }
  50% {
    background-color: #94c8f2;
    border-radius: 0.5rem;
  }

  100% {
    background-color: white;
    border-radius: 0.5rem;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
