body {
}

.box {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #f80000;
}

.hidden {
  display: none;
}

.hideBox {
  user-select: none; /* prevent highlighting to see text */
  background-color: #0d0a0a;
}

.posBox {
  background-color: #ff7a7a;
}

.swapBox {
  background-color: #a4ff7a;
}

.selected {
  background-color: aqua;
}
