body {
}

.sort1 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #f80000;
  fill: #0d0a0a;
  user-select: none;
  background-color: #0d0a0a; /* prevent cheating lol */
}
.sort2 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #0d0a0a;
}
.sort3 {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #0d0a0a;
}

.hidden {
  display: none;
}
